
.o-button {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;

  &:focus {
    outline: none;
  }

  &:hover {
    background: #eee;
  }

  &--small {
    font-size: 0.8em;
  }

  &--subtle {
    background: transparent;
    border: none;
  }

}